<p>
  Match Shapes<br/>
  {{warningMessage}}
</p>
<div (dragenterEvent)="dragEnter($event,typeCheck.Round)" (dragleaveEvent)="dragLeave()"
  (dropEvent)="addDropItem($event,typeCheck.Round)" [ngClass]="highlight[typeCheck.Round]" class="droppable round-hole"
  ksDropDirective>
  @for (item of itemsDroppedRound; track item) {
    <app-generic-box [genericBox]='item'></app-generic-box>
  }
</div>
<div (dragenterEvent)="dragEnter($event,typeCheck.Square)" (dragleaveEvent)="dragLeave()"
  (dropEvent)="addDropItem($event,typeCheck.Square)" [ngClass]="highlight[typeCheck.Square]" class="droppable square-hole"
  ksDropDirective>
  @for (item of itemsDroppedSquare; track item) {
    <app-generic-box [genericBox]='item'></app-generic-box>
  }
</div>
