.droppable {
  padding: 10px;
  border: solid 1px #aaa;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0 10px;
}

.highlight {
  border: solid 1px #0f0;
}

.badHighlight {
  border: solid 1px #f00;
}

.round-hole {
  border-radius: 50px;
}
